<header>
  <h1>VisuMath - Matematică vizualizată</h1>

  <!-- Checkbox hack pentru hamburger (mobil) -->
  <input type="checkbox" id="nav-toggle" class="nav-toggle-input">
  <label for="nav-toggle" class="hamburger-label" aria-label="Deschide meniul">
    <div class="hamburger-icon">
      <div class="bar bar-1"></div>
      <div class="bar bar-2"></div>
      <div class="bar bar-3"></div>
    </div>
  </label>

  <nav>
    <ul>
      <li>
        <a href="/index">
          <i class="fa-solid fa-house nav-icon"></i>
          <span class="nav-text">Acasă</span>
        </a>
        <ul>
          <li><a href="/index#despre">Despre VisuMath</a></li>
          <li><a href="/index#lectii-disponibile">Lecții disponibile</a></li>
          <li><a href="/index#categorii">Categorii de lecții</a></li>
          <li><a href="/index#evenimente">Evenimente</a></li>
        </ul>
      </li>
      <li>
        <a href="/lectii">
          <i class="fa-solid fa-book-open nav-icon"></i>
          <span class="nav-text">Lecții</span>
        </a>
        <ul>
          <li><a href="/lectii#algebra">Algebră</a></li>
          <li><a href="/lectii#geometrie">Geometrie</a></li>
          <li><a href="/lectii#analiza">Analiză matematică</a></li>
          <li><a href="/lectii#statistica">Statistică</a></li>
        </ul>
      </li>

      <li>
        <a href="/exercitii">
          <i class="fa-solid fa-pencil nav-icon"></i>
          <span class="nav-text">Exerciții</span>
        </a>
      </li>
      <li>
        <a href="/resurse-pagina">
          <i class="fa-solid fa-folder-open nav-icon"></i>
          <span class="nav-text">Resurse</span>
        </a>
      </li>
      <li>
        <a href="/despre">
          <i class="fa-solid fa-circle-info nav-icon"></i>
          <span class="nav-text">Despre noi</span>
        </a>
      </li>
    </ul>
  </nav>
</header>